.signin-register {
  input {
    background: transparent;
    border-right: none;
    background: transparent;
    border-bottom: 1px solid #fcfcfc;
    border-top: none;
    border-left: none;
  }
  input:focus {
    border-bottom: 2px solid #fcfcfc;
  }
  input::placeholder {
    color: #ffffff;
  }
}
