@import './styles/components/UserCard.css';

.app {
  background-color: #fcfcfc;
  height: 100vh;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.font-green {
  color: #478e66
}

.flex-column {
  display: flex;
  flex-direction: column;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
